.form-main {
  display: flex;
  flex-direction: column;
}
.submit-btn {
  margin-top: 10px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
}
.dropdown {
  width: 60px;
}